<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <p>Para devolver a chave é só tocar no nome que pegou emprestado!</p>
        {% for inscritos in list %}
        <li>{{inscritos.nome}}  Pegou  {{inscritos.horas_p}}  {{inscritos.chave}}</li>
        {% endfor %}
        -=-=-=-=-=--=-==--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-
        {% for inscritos2 in list2 %}
        <li>{{inscritos2.nome}} Devolveu {{inscritos2.horas_d}} {{inscritos2.chave}}</li>
        {% endfor %}
    </ul>
</body>
</html>