<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Primeiro django para chaves</h1>

    <a href="mostrar_chaves">Chaves Cadastradas</a>
    <p>
    </p>
    <a href="mostrar_chaves_disponiveis">Pegar uma Chave</a>
    <p>
    </p>
    <a href="mostrar_chaves_indisponiveis">Devolver uma Chave</a>
    <p>
    </p>
    <a href="historico_chave">Historico da Chave</a>
</body>
</html>